/* SearchBar.css */
.search-bar-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    padding: 8px 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    padding: 8px 12px;
    border-radius: 20px;
    margin-right: 8px;
    font-weight: 400;
  }
  
  .search-button {
    background-color: #38b2ac;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #2c7a7b;
  }
  